global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

# 수정해야할 부분
frontend http_front 
   bind *:80 # haproxy alb 노드 IP : 80 포트
   # 각 페이지로 접속할 수 있는 url 설정 sports, shop, blog, webtoon
   stats uri /haproxy?stats
   acl main path_beg -i /
   acl stocks path_beg -i /stocks
   use_backend stocks_page if stocks
   acl crypto path_beg -i /crypto
   use_backend crypto_page if crypto
   
   use_backend main_page if main
   default_backend main_page

# main 페이지 접속 시 이용할 서버
backend main_page
   balance roundrobin
   http-request set-path /
   server main 211.183.3.100:8003 check

# stocks 페이지 접속 시 이용할 서버
backend stocks_page
   http-request set-path /
   server stocks 211.183.3.100:8001 check

# crypto 페이지 접속 시 이용할 서버
backend crypto_page
   http-request set-path /
   server crypto 211.183.3.100:8002 check

